[submodule "CArgame-website"]
    path = CArgame-website
    url = https://github.com/JaviviDevs/CArgame-website.git
[submodule "Javivi-React-Components"]
    path = Javivi-React-Components
    url = https://github.com/JaviviDevs/Javivi-React-Components.git
[submodule "Mi-Portfolio-Webpage"]
    path = Mi-Portfolio-Webpage
    url = https://github.com/JaviviDevs/Mi-Portfolio-Webpage.git
[submodule "TFG-Website"]
    path = TFG-Website
    url = https://github.com/JaviviDevs/TFG-Website.git
